.o_inventory_movement_report {
    .o_inventory_movement_page {
        background-color: $o-view-background-color;
        color: $o-main-text-color;
        margin: 16px auto;

        .o_header {
            .o_section {
                @include media-breakpoint-up(lg) {
                    border-right: 1px solid #ccc;
                }
                height: initial;
                padding: 5px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px 0px 5px 0px;
                color: darken($o-brand-lightsecondary, 40%);
                .o_highlight {
                    font-size: 20px;
                    font-weight: bold;
                }
                &.o_grey {
                    background-color: rgba(128, 128, 128, 0.1);
                    color: rgba(128, 128, 128, 1);
                }
                &.o_green {
                    background-color: rgba(0, 128, 0, 0.1);
                    color: rgba(0, 128, 0, 1);
                }
                &.o_blue {
                    background-color: rgba(23, 162, 184, 0.1);
                    color: rgba(23, 162, 184, 1);
                }
                &.o_invisible_border {
                    border-right: 0px;
                }
            }
        }

        .o_stock_reports_table {
            white-space: nowrap;
            margin-bottom: 128px;
            .o_number {
                text-align: right;
            }
            tfoot {
                font-weight: bold;
            }
        }
    }
}

.o_stock_report_search {
    margin-left: 10px;
    margin-right: 10px;
}

.o_stock_reports_body_print {
    background-color: white !important;
    color: black !important;
    font-size: 12px !important;
    .o_stock_reports_header {
        padding: 10px;
        background-color: #eee;
    }
}

.o_foldable_menu {
    &.o_closed_menu {
        display: none;
    }
    .o_open_menu {
        display: block;
    }
}

.o_inventory_movement_filters {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    /*position: absolute;*/
    left: 0;
    top: -30px;
    z-index: 11;
}